include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
recursive-include exptrack *.py
include exptrack/py.typed
include exptrack/dashboard/vendor/*.js
recursive-include exptrack/dashboard/static *.js *.css
